<footer id="footer" class="pt-5 pb-3">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="footer-info">
                            <img src="/static/img/ovenfresh-logo-min.webp" alt="">
                            <p>For Cake shopping in Mumbai, Thane & Navi Mumbai, OvenFresh is the cake shop you can rely
                                on for a wonderful experience. Ovenfresh is a cakeshop that sells Eggless cakes online
                                with on time delivery.</p>
                            <div class="social-links mt-3">
                                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-links">
                            <h5>Useful Links</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'home-list' %}">About Us</a></li>
                                <li><a href="{% url 'home-list' %}">Our Services</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-links">
                            <h5>Quick Links</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'home-list' %}">Birthday Cakes</a></li>
                                <li><a href="{% url 'home-list' %}">Wedding Cakes</a></li>
                                <li><a href="{% url 'home-list' %}">Chocolates</a></li>
                                <li><a href="{% url 'home-list' %}">Gift Hampers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-links">
                            <h5>Location Links</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'home-list' %}">Mumbai</a></li>
                                <li><a href="{% url 'home-list' %}">Navi Mumbai</a></li>
                                <li><a href="{% url 'home-list' %}">Thane</a></li>
                                <li><a href="{% url 'home-list' %}">Pune</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-contact">
                            <h5>Contact Info</h5>
                            <div class="contact-item">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Mumbai, Navi Mumbai, Thane</span>
                            </div>
                            <div class="contact-item">
                                <i class="fas fa-phone"></i>
                                <span>+91 8433991502</span>
                            </div>
                            <div class="contact-item">
                                <i class="fas fa-envelope"></i>
                                <span>info@ovenfresh.in</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0">&copy; 2025 Oven Fresh. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <p class="mb-0">Made with <i class="fas fa-heart text-danger"></i> by Oven Fresh Team</p>
                    </div>
                </div>
            </div>
        </footer>