        <!-- Topbar -->
        <div class="topbar text-center d-none d-md-block">
            <div class="container">
                Celebrate Occasions with Mumbai's best Online Gift Store.
            </div>
        </div>

        <!-- Main Navbar -->
        <nav class="navbar bg-white px-3 border-bottom">
            <div class="container-fluid d-flex justify-content-between align-items-center">

                <!-- Logo -->
                <!-- <a class="navbar-brand fw-bold" href="#">LOGO</a> -->
                <img src="/static/img/logo.png" alt="" onclick="location.href='/'" class="navbar-brand logo-img" style="cursor: pointer;">
                
                <!-- Search Center -->
                <form class="d-none d-md-flex mx-auto navbar-search" role="search">
                    <div class="search-wrapper mx-auto position-relative">
                        <i class="bi bi-search"></i>
                        <input type="text" id="mobile-search-input" class="form-control" placeholder="Search on Ovenfresh.in" autocomplete="off">
                    </div>
                </form>

                <!-- Right Section -->
                <div class="d-flex align-items-center">
                    <a href="{% url 'cart-list' %}" class="icon-btn me-2" aria-label="Cart">
                        <i class="bi bi-cart"></i>
                        <span class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle" id="cart-count">0</span>
                    </a>
                    <a href="{% url 'account-list' %}" class="icon-btn me-2 d-none d-md-block" style="display: none !important;" aria-label="Account"><i
                            class="bi bi-person-circle"></i></a>

                    <!-- Hamburger only on mobile -->
                    <button class="icon-btn d-md-none" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#mobileMenu" aria-controls="mobileMenu">
                        <i class="bi bi-list"></i>
                    </button>
                </div>

            </div>
        </nav>

        <!-- Menu Bar -->
        <div class="bg-light border-bottom py-2 text-center main-menu position-md-fixed w-100 menu-bar-fixed d-none d-md-block">
            <div class="container position-relative">
                <ul class="nav justify-content-center">
                    <!-- Cakes with Mega Menu -->
                    <li class="nav-item position-static dropdown-mega">
                        <a class="nav-link" href="{% url 'shop-list' %}?category=Cakes">Cakes</a>
                        <div class="mega-menu d-none">
                            <div class="container py-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Bento Cakes`">Bento Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Chocolate Cakes`">Chocolate Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Dutch truffle Cakes`">Dutch truffle Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Heart Shape Cakes`">Heart Shape Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Overloaded Cakes`">Overloaded Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Rosette Cakes`">Rosette Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Butterscotch Cakes`">Butterscotch Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Butter Cream Cakes`">Butter Cream Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Fruit Cakes`">Fruit Cakes</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Classic Cakes`">Classic Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Gourmet Cakes`">Gourmet Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Red Velvet Cakes`">Red Velvet Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Low Frosting Cakes`">Low Frosting Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Fresh Flower Cakes`">Fresh Flower Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Pinata Cakes`">Pinata Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Cheese Cakes`">Cheese Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Photo Cakes`">Photo Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Theme Cakes`">Theme Cakes</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=99% Gold Cakes`">99% Gold Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Cup Cakes`">Cup Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Flower Combos`">Flower Combos</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Strawberry`">Strawberry</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Hammer Cake`">Hammer Cake</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Pull Me Up Cakes`">Pull Me Up Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Numeric Cakes`">Numeric Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Alphabet Cakes`">Alphabet Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Trending Bomb Cakes`">Trending Bomb Cakes</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Fault Line Cakes`">Fault Line Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Geode Cakes`">Geode Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Fusion Cakes`">Fusion Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Two Tier Cakes`">Two Tier Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Mango Cakes`">Mango Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Sumptous Mango`">Sumptous Mango</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Tea Cakes`">Tea Cakes</p>
                                        <p onclick="window.location=`{% url 'shop-list' %}?sub-category=Pastry`">Pastry</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                    <!-- Other Menu Items -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Gifting">Gifting</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Flowers">Flowers</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Desserts">Desserts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Chocolates">Chocolates</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?sub-category=Hampers">Hampers</a></li>
                    
                </ul>
            </div>
        </div>

        <!-- Mobile Offcanvas Menu -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="mobileMenuLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav flex-column">
                    <div class="search-wrapper mx-auto position-relative">
                        <i class="bi bi-search"></i>
                        <input type="text" id="search-input" class="form-control" placeholder="Search on Ovenfresh.in" autocomplete="off">
                    </div>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Cakes">Cakes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Gifting">Gifting</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Flowers">Flowers</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Desserts">Desserts</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?category=Chocolates">Chocolates</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop-list' %}?sub-category=Hampers">Hampers</a></li>
                </ul>
            </div>
        </div>